<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Hello {{user.username}}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="page-header">
    {% if user.is_authenticated %}
    <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fa-sharp fa-solid fa-file-pen"></i></a>
    <a href="{% url 'post_new' %}" class="top-menu"><i class="fa-solid fa-plus"></i></span></a>
    <p class="top-menu">
      Hello {{ user.username }}
      <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
    </p>

    {% else %}
    <a href="{% url 'login' %}" class="top-menu"><i class="fa-solid fa-right-to-bracket"></i></a>
    {% endif %}
    <h1><a href="/">Quoocs Ddaay!</a></h1>
  </div>
  <div class="content container">
    <div class="row">
      <div class="col-md-8">{% block content %} {% endblock %}</div>
    </div>
  </div>
</body>

</html>