{% extends 'blog/base.html' %} {% load static %} {% block content %}
<article class="post">
  <aside class="actions">
    {% if user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
    <a class="btn btn-secondary" href="{% url 'post_remove' pk=post.pk %}"
      ><i class="fa-solid fa-trash"></i
    ></a>
    {% endif %}
  </aside>
  {% if post.published_date %}
  <time class="date"> {{ post.published_date }} </time>
  {% else %}
  <aside class="actions">
    <a class="btn btn-secondary" href="{% url 'post_publish' pk=post.pk %}"
      ><i class="fa-solid fa-upload"></i
    ></a>
  </aside>
  {% endif %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.text|linebreaksbr }}</p>
</article>
<hr />
<aside class="actions">
  <a class="btn btn-secondary" href="{% url 'add_comment_to_post' pk=post.pk %}"
    ><i class="fa-solid fa-comment"></i
  ></a>
</aside>
{% if post.comments.all %} {% for comment in post.comments.all %}
<div class="comment">
  <div class="date">{{comment.created_date}}</div>
  <strong>{{comment.author}}</strong>
  <p>{{comment.text}}</p>
</div>
{% endfor %} {% else %}
<p>No comments here yet :(</p>
{% endif %} {% endblock %}
