{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<article class="post">
  {% if user.is_authenticated %}
  <aside class="actions">
    <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
    <a class="btn btn-secondary" href="{% url 'post_remove' pk=post.pk %}"
      ><i class="fa-solid fa-trash"></i
    ></a>
  </aside>
  {% endif %}

  <time class="date"> {{ post.published_date }} </time>
  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
  <p>{{ post.text|linebreaksbr }}</p>
  <a href="{% url 'post_detail' pk=post.pk %}"
    >Comments: {{ post.comments.count }}</a
  >
</article>
{% endfor %} {% endblock %}
